<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>for visiters</title>
</head>
<body>

<h1>HELLO VISITOR</h1>
    <form>
      <label for="age">Age:</label><br>
      <input type="number" id="age" name="age" min="'14" max="120"><br>

      <label for="Nc">Native country:</label><br>
      <input type="text" id="nc" name="Nc"><br>

        <label for="Cc">Current country:</label><br>
      <input type="text" id="Cc" name="Cc"><br>

        <label for="edu">what is the level of your education?</label><br>
      <!--<input type="checkbox" class="radio" id="chosenD" name="chosenD"><br> -->
        <select name="Education" size="4">
            <option value="e1">e1</option>
            <option value="e2">e2</option>
            <option value="e3">e3</option>
            <option value="e4">e4</option>
        </select><br>

    <label for="SearchLang">Searching language:</label><br>
      <input type="text" id="SearchLang" name="SearchLang"><br>

        <label for="chosenD">please chose one of the giving domains that interests you:</label><br>
      <!--<input type="checkbox" class="radio" id="chosenD" name="chosenD"><br> -->
        <select name="Domains" size="4">
            <option value="d1">d1</option>
            <option value="d2">d2</option>
            <option value="d3">d3</option>
            <option value="d4">d4</option>
        </select><br>

        <label for="latestSB">Latest year of scientific background:</label><br>
      <input type="int" id="latestSB" name="latestSB" min="1940"><br>

     <input type="submit">
    </form>


</body>
</html>